---
import { menuItems } from "./Navbar.astro";
const pathname = Astro.url.pathname;
---

<nav class="space-y-6">
	<div>
		<h3
			class="text-gray-500 uppercase text-xs font-semibold mb-2 tracking-wide"
		>
			Courses
		</h3>
		<ul class="space-y-1">
			{
				menuItems.map((link) => {
					const active = pathname === link.href;
					return (
						<li>
							<a
								href={link.href}
								class={`block px-3 py-2 rounded-md transition
                  ${
						active
							? "bg-blue-50 text-blue-800 font-medium"
							: "text-gray-700 hover:bg-gray-100 hover:text-gray-900"
					}`}
							>
								{link.label}
							</a>
						</li>
					);
				})
			}
		</ul>
	</div>
</nav>
